@model ShopViewModel

@{
    ViewData["Title"] = "Index";
}

<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height"
         data-bg-image="assets/images/breadcrumb/bg/1-1-1919x388.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Shop</h2>
                        <ul>
                            <li>
                                <a asp-action="index" asp-controller="home">Home</a>
                            </li>
                            <li>Shop Default</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 order-2 order-lg-1 pt-5 pt-lg-0">
                    <div class="sidebar-area">
                        <div class="widgets-searchbox">
                                <input form="filter-form" 
                                    class="input-field"
                                    name="search"
                                    value="@ViewBag.Search"
                                       type="text"
                                       placeholder="Search" />
                                <button form="filter-form" class="widgets-searchbox-btn" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                        </div>
                        <div class="widgets-area">
                            <div class="widgets-item pt-0">
                                <h2 class="widgets-title mb-4">Categories</h2>
                                <ul class="widgets-category">

                                    @foreach (var item in Model.Categorys)
                                    {
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" onchange="this.form.submit()" form="filter-form" type="radio" name="categoryId" id="categoryId-@item.Id" value="@item.Id" @(ViewBag.categoryId == item.Id ? "checked" : "")>
                                                <label class="form-check-label" for="categoryId-@item.Id">
                                                    @item.Name (@item.Plants.Count)
                                                </label>
                                            </div>
                                            <hr />
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="widgets-item widgets-filter">
                                <h2 class="widgets-title mb-4">Price Filter</h2>
                                <div class="price-filter">
                                    <input type="text"
                                           class="pronia-range-slider"
                                           name="pronia-range-slider"
                                           value=""
                                           data-type="double"
                                           data-min="@ViewBag.MinRangeLimit"
                                           data-from="16"
                                           data-to="300"
                                           data-max="@ViewBag.MaxRangeLimit"
                                           data-grid="false" />
                                    <input id="maxPriceInput" form="filter-form" type="hidden" name="maxPrice" value="" />
                                    <input id="minPriceInput" form="filter-form" type="hidden" name="minPrice" value="" />
                                </div>
                                @*<div class="range-slider pt--30">
                                    <div class="sb-range-slider"></div>
                                    <div class="slider-price">
                                        <p>
                                            <input type="text" id="amount" readonly="">
                                        </p>
                                    </div>
                                    <input id="maxPriceInput" form="filter-form" type="hidden" name="maxPrice" value="" />
                                    <input id="minPriceInput" form="filter-form" type="hidden" name="minPrice" value="" />

                                </div>*@
                            </div>
                            <div class="widgets-item">
                                <h2 class="widgets-title mb-4">Populer Tags</h2>
                                <ul class="widgets-tag">
                                    @foreach (var tg in Model.Tags)
                                    {
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" onchange="this.form.submit()" form="filter-form" type="radio" name="tagId" id="tagId-@tg.Id" value="@tg.Id" @(ViewBag.tagId == tg.Id ? "checked" : "")>
                                                <label class="form-check-label" for="tagId-@tg.Id">
                                                    @tg.Name
                                                </label>
                                            </div>
                                        </li>

                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="banner-item widgets-banner img-hover-effect">
                            <div class="banner-img">
                                <img src="assets/images/website-images/1-270x300.webp"
                                     alt="Banner Image" />
                            </div>
                            <div class="banner-content text-position-center">
                                <span class="collection">New Collection</span>
                                <h3 class="title">Plant Port</h3>
                                <div class="button-wrap">
                                    <a class="btn btn-custom-size sm-size btn-pronia-primary"
                                       href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 order-1 order-lg-2">
                    <div class="product-topbar">
                        <ul>
                            <li class="page-count">
                                <span> @Model.Plants.Count</span> Product Found of <span>@ViewBag.PlantCount </span>
                            </li>
                            <li class="product-view-wrap">
                                <ul class="nav" role="tablist">
                                    <li class="grid-view" role="presentation">
                                        <a class="active"
                                           id="grid-view-tab"
                                           data-bs-toggle="tab"
                                           href="#grid-view"
                                           role="tab"
                                           aria-selected="true">
                                            <i class="fa fa-th"></i>
                                        </a>
                                    </li>
                                    <li class="list-view" role="presentation">
                                        <a id="list-view-tab"
                                           data-bs-toggle="tab"
                                           href="#list-view"
                                           role="tab"
                                           aria-selected="true">
                                            <i class="fa fa-th-list"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="short">
                                <select onchange="this.form.submit()" asp-items="@ViewBag.SortList" form="filter-form" name="sort" class="nice-select">
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active"
                             id="grid-view"
                             role="tabpanel"
                             aria-labelledby="grid-view-tab">
                            <div class="product-grid-view row g-y-20">
                                @foreach (var pl in Model.Plants)
                                {
                                    <div class="col-md-4 col-sm-6">
                                        <div class="product-item">
                                            <div class="product-img">
                                                <a href="single-product-variable.html">
                                                    <img class="primary-img"
                                                         src="~/uploads/plants/@pl.PlantImages.FirstOrDefault(x=>x.PosterStatus==true).ImageName"
                                                         alt="Product Images" />
                                                    <img class="secondary-img"
                                                         src="~/uploads/plants/@pl.PlantImages.FirstOrDefault(x=>x.PosterStatus==false).ImageName"
                                                         alt="Product Images" />
                                                </a>
                                                <div class="product-add-action">
                                                    <ul>
                                                        <li class="quuickview-btn"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#quickModal">
                                                            <a asp-action="plantdetail" asp-controller="plant" asp-route-id="@pl.Id"
                                                               data-tippy="Quickview"
                                                               data-tippy-inertia="true"
                                                               data-tippy-animation="shift-away"
                                                               data-tippy-delay="50"
                                                               data-tippy-arrow="true"
                                                               data-tippy-theme="sharpborder">
                                                                <i class="pe-7s-look"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a asp-action="AddToBasket" asp-controller="plant" asp-route-id="@pl.Id"
                                                               data-tippy="Add to cart"
                                                               data-tippy-inertia="true"
                                                               data-tippy-animation="shift-away"
                                                               data-tippy-delay="50"
                                                               data-tippy-arrow="true"
                                                               data-tippy-theme="sharpborder">
                                                                <i class="pe-7s-cart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <a class="product-name"
                                                   href="single-product-variable.html">@pl.Name</a>
                                                <div class="price-box pb-1">
                                                    <span class="new-price">$@pl.SalePrice.ToString("0.00")</span>
                                                </div>
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade"
                             id="list-view"
                             role="tabpanel"
                             aria-labelledby="list-view-tab">
                            <div class="product-list-view row g-y-30">
                                @foreach (var pl in Model.Plants)
                                {
                                    <div class="col-12">
                                        <div class="product-item">
                                            <div class="product-img">
                                                <a href="single-product-variable.html">
                                                    <img class="primary-img"
                                                         src="~/uploads/plants/@pl.PlantImages.FirstOrDefault(x=>x.PosterStatus==true).ImageName"
                                                         alt="Product Images" />
                                                    <img class="secondary-img"
                                                         src="~/uploads/plants/@pl.PlantImages.FirstOrDefault(x=>x.PosterStatus==false).ImageName"
                                                         alt="Product Images" />
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <a class="product-name"
                                                   href="single-product-variable.html">@pl.Name</a>
                                                <div class="price-box pb-1">
                                                    <span class="new-price">$@pl.SalePrice.ToString("0.00")</span>
                                                </div>
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                                <p class="short-desc mb-0">
                                                    @pl.Desc
                                                </p>
                                                <div class="product-add-action">
                                                    <ul>
                                                        <li class="quuickview-btn"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#quickModal">
                                                            <a asp-action="plantdetail" asp-controller="plant" asp-route-id="@pl.Id"
                                                               data-tippy="Quickview"
                                                               data-tippy-inertia="true"
                                                               data-tippy-animation="shift-away"
                                                               data-tippy-delay="50"
                                                               data-tippy-arrow="true"
                                                               data-tippy-theme="sharpborder">
                                                                <i class="pe-7s-look"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a asp-action="AddToBasket" asp-controller="plant" asp-route-id="@pl.Id"
                                                               data-tippy="Add to cart"
                                                               data-tippy-inertia="true"
                                                               data-tippy-animation="shift-away"
                                                               data-tippy-delay="50"
                                                               data-tippy-arrow="true"
                                                               data-tippy-theme="sharpborder">
                                                                <i class="pe-7s-cart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="pagination-area">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">&raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-block">
        <form method="get" class="d-none" id="filter-form">
            <button class="sidebar-title w-100" type="submit">Filter</button>
        </form>
    </div>
</main>
<!-- Main Content Area End Here -->

@*@section Scripts{
    <script>

        $(function () {
            $(".sb-range-slider").slider({
                range: true,
                min: 0,
                max: @ViewBag.MaxPriceLimit,
                values: [@ViewBag.MinPrice, @ViewBag.MaxPrice],
                slide: function (event, ui) {
                    $("#amount").val("£" + ui.values[0] + " - £" + ui.values[1]);
                },
                change: function (event, ui) {
                    $("#minPriceInput").val(ui.values[0])
                    $("#maxPriceInput").val(ui.values[1])
                }
            });
            $("#amount").val("£" + $(".sb-range-slider").slider("values", 0) +
                " - £" + $(".sb-range-slider").slider("values", 1));
        });
    </script>
    }*@